@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700&display=swap');

/* base font */
body {
    font-family: Source Sans Pro, Helvetica Neue, Arial, sans-serif;
}

/* disable search bar, replace it with the book title instead */
.book-summary #book-search-input {
    position: relative;
    opacity: 0;
    overflow: hidden;
    height: 0px;
    padding: 0;
}
/* .book-summary #book-search-input:after {
    content: "Dasar Pemrograman Golang";
    padding-top: 17px;
    padding-left: 15px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    z-index: 1;
    position: absolute;
} */

/* disable word wrap at left sidebar */
.book-summary ul.summary li a, .book-summary ul.summary li span {
    text-overflow: initial;
    white-space: normal;
    line-height: 1.4em;
    padding: 9px 15px;
}

/* sidebar background */
.book-summary {
    background-color: #ffffff;
}

/* sidebar ads animation */
.book-summary .summary > li:nth-child(4) a {
    color: white;
    margin-left: 5px;
    background-color: #ec882f;
    -webkit-animation: block-promo-bg-animate 2s infinite;
    -moz-animation: block-promo-bg-animate 2s infinite;
    -o-animation: block-promo-bg-animate 2s infinite;
    -ms-animation: block-promo-bg-animate 2s infinite;
    animation: block-promo-bg-animate 2s infinite;
}
@keyframes block-promo-bg-animate {
    0% { background-color: #ec882f; }
    50% { background-color: #e67613; }
    100% { background-color: #ec882f; }
}

/* sidebar scroll beautification */
.book-summary::-webkit-scrollbar {
    width: 4px;
}
.book-summary::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 4px;
}
.book-summary:hover::-webkit-scrollbar-thumb {
    background: hsla(0,0%,53%,.4);
}
.book-summary:hover::-webkit-scrollbar-track {
    background: hsla(0,0%,53%,.1);
}

/* sidebar active link */
.book-summary li.active>a:before {
    content: " ";
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: #008cff;
}
.book-summary li.active>a {
    font-weight: bold;
}

/* make the sidebar wider, and adjust the content to match it */
.book-summary {
    left: -500px;
    width: 500px;
}
@media (min-width: 600px) {
    .book.with-summary .book-body {
        left: 500px;
    }
}

/* hide the header because each post already has it's h1 */
/* also hide the unused navigation buttons (except font settings) */
.book-header > h1,
.book-header > .pull-right:not(.font-settings) {
    display: none;
}

/* hide the "published by gitbook" footer */
.gitbook-link {
    visibility: hidden;
    pointer-events: none;
    height: 20px;
}

/* source code link for each content */
.source-code-link {
    border: 1px solid #c9ffce;
    background-color: #e7ffe9;
    padding: 10px 10px;
    text-align: center;
}
.source-code-link .source-code-link-message {
    font-weight: bold;
}

/* google ads */
ins.adsbygoogle {
    margin-bottom: 1em;
}

/* disquss block */
#disqus_thread {
    margin-top: 40px;
}
#disqus_thread + #disqus_thread {
    display: none;
}
#disqus_thread:before {
    background-color: #e7e9ee;
    content: " ";
    display: block;
    height: 1px;
    margin-left: -15px;
    margin-right: -15px;
}
#disqus_thread > iframe:nth-child(1) {
    padding-top: 30px;
}
#disqus_thread > iframe[src*=ads] {
    display: none;
}

/* bottom news banner and body adjustment */
.book-body .body-inner {
    padding-bottom: 100px;
}
.book-news {
    display: block;
    padding: 18px 100px;
    text-align: center;
    background-color: #0099ea;
    color: white;
    position: fixed;
    bottom: 0;
    right: 17px;
    left: 500px;
    z-index: 1000;
}

/* banner */
.banner-container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.88);
    z-index: 99999;
    backdrop-filter: blur(2px);
}
.banner-container > div {
    position: relative;
    height: 100%;
    width: 100%;
}
.banner-container a {
    width: 800px;
    height: 494px;
    position: absolute;
    top: 50%;
    margin-top: -247px;
    z-index: 99999;
    left: 50%;
    margin-left: -400px;
}
.banner-container a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media (max-width: 800px) {
    .banner-container a {
        width: auto;
        left: 0;
        margin-left: 0;
        right: 0;
        margin-right: 0;
        height: auto;
        margin-top: -100px;
    }
}
