@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* base font */
body .book.font-family-1, .book-summary {
    font-family: Inter, Source Sans Pro, Helvetica Neue, Arial, sans-serif;
}

/* unmark to disable search bar, replace it with the book title instead */
/* .book-summary #book-search-input {
    position: relative;
    opacity: 0;
    overflow: hidden;
    height: 0px;
    padding: 0;
} */
/* .book-summary #book-search-input:after {
    content: "Dasar Pemrograman Golang";
    padding-top: 17px;
    padding-left: 15px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    z-index: 1;
    position: absolute;
} */

.dropdown.font-settings {
    display: none;
}

.page-inner {
    max-width: none;
    padding: 20px 100px 40px 100px;
}

/* sidebar ads animation */
/* .book-summary .summary > li:nth-child(8) a {
    color: white;
    margin-left: 5px;
    background-color: #ec882f;
    -webkit-animation: block-promo-bg-animate 3s infinite;
    -moz-animation: block-promo-bg-animate 3s infinite;
    -o-animation: block-promo-bg-animate 3s infinite;
    -ms-animation: block-promo-bg-animate 3s infinite;
    animation: block-promo-bg-animate 3s infinite;
} */
@keyframes block-promo-bg-animate {
    0% { background-color: #008cff; }
    50% { background-color: #004986; }
    100% { background-color: #008cff; }
}

/* sidebar scroll beautification */
.book-summary::-webkit-scrollbar {
    width: 15px;
}
.book-summary::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 4px;
}
.book-summary:hover::-webkit-scrollbar-thumb {
    background: hsla(0,0%,53%,.4);
}
.book-summary:hover::-webkit-scrollbar-track {
    background: hsla(0,0%,53%,.1);
}

/* sidebar background */
.book-summary {
    background-color: #ffffff;
}

/* sidebar items */
.book-summary ul.summary li a, .book-summary ul.summary li span {
    text-overflow: initial;
    white-space: normal;
    line-height: 1.4em;
    padding: 9px 10px 9px 6px;
}
.book-summary ul.summary li.chapter {
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
}
.book-summary ul.summary > li.chapter:before {
    position: absolute;
    content: " ";
    background-color: #F4F4F5;
    width: 2px;
    left: 27px;
    top: 39px;
    bottom: 0px;
}
.book-summary ul.summary li.chapter span {
    font-weight: 600;
}
.book-summary ul.summary li.chapter a {
    text-indent: -41px;
    padding-left: 51px;
}
.book-summary ul.summary li.chapter a:hover, .book-summary ul.summary li.chapter.active a {
    background-color: #F4F4F5;
    font-weight: bold;
    border-radius: 6px;
    text-decoration: none;
}
.book-summary ul.summary li span:before {
    content: "📄";
    margin-right: 2px;
    font-size: 1.2em;
}
.book-summary ul.summary li.divider {
    margin: 18px 0 7px;
}

/* docsearch */
#book-doc-search-input {
    padding: 5px;
}
#book-doc-search-input .DocSearch-Button {
    border-radius: 6px;
    background-color: #F4F4F5;
}
#book-doc-search-input .DocSearch-Button:hover {
    box-shadow: inset 0 0 0 2px #008cff;
}

/* make the sidebar wider, and adjust the content to match it */
.book-summary {
    left: -470px;
    width: 470px;
}
@media (min-width: 600px) {
    .book.with-summary .book-body {
        left: 470px;
    }
}

.book-header {
    border-bottom: 1px solid #ededed;
    height: 59px;
    padding: 5px 8px 0px;
}

/* hide the header because each post already has it's h1 */
/* also hide the unused navigation buttons (except font settings) */
.book-header > h1,
.book-header > .pull-right:not(.font-settings) {
    display: none;
}

/* content */
.markdown-section h1 {
    font-weight: 400;
    margin-bottom: 0.4em;
}
.markdown-section hr,
.ebook-wrapper hr {
    height: 1px !important;
    background-color: #e7e9ee !important;
}
.markdown-section blockquote {
    font-style: italic;
}

/* hide the "published by gitbook" footer */
.gitbook-link {
    visibility: hidden;
    pointer-events: none;
    height: 20px;
}

/* source code link for each content */
.source-code-link {
    border: 1px solid #c9ffce;
    background-color: #e7ffe9;
    padding: 10px 10px;
    text-align: center;
}
.source-code-link .source-code-link-message {
    font-weight: bold;
}

/* google ads */
ins.adsbygoogle {
    margin-bottom: 1em;
}

/* disquss block */
#disqus_poll {
    margin: 40px auto 5px;
    max-width: 800px;
}
#disqus_thread {
    margin: 40px auto 5px;
    max-width: 800px;
}
#disqus_thread + #disqus_thread {
    display: none;
}
#disqus_thread:before {
    background-color: #e7e9ee;
    content: " ";
    display: block;
    height: 1px;
    margin-left: -15px;
    margin-right: -15px;
}
#disqus_thread > iframe:nth-child(1) {
    padding-top: 30px;
}
#disqus_thread > iframe[src*=ads] {
    display: none;
}

/* bottom news banner and body adjustment */
.book-body .body-inner {
    padding-bottom: 100px;
}
.book-news {
    display: block;
    padding: 18px 100px;
    text-align: center;
    background-color: #0099ea;
    color: white;
    position: fixed;
    bottom: 0;
    right: 17px;
    left: 470px;
    z-index: 1000;
}

/* banner */
.banner-container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.88);
    z-index: 99999;
    backdrop-filter: blur(2px);
}
.banner-container > div {
    position: relative;
    height: 100%;
    width: 100%;
}
.banner-container a {
    width: 800px;
    height: 494px;
    position: absolute;
    top: 50%;
    margin-top: -247px;
    z-index: 99999;
    left: 50%;
    margin-left: -400px;
}
.banner-container a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media (max-width: 800px) {
    .banner-container a {
        width: auto;
        left: 0;
        margin-left: 0;
        right: 0;
        margin-right: 0;
        height: auto;
        margin-top: -100px;
    }
}
