{{define "form"}}
<!DOCTYPE html>
<html>
	<head>
		<title>Input Message</title>
	</head>
	<body>
		<form method="post" action="/process">
			<label>Name :</label>
			<input type="text" placeholder="Type name here" name="name" required />
			<br />
			
			<label>Message :</label>
			<input type="text" placeholder="Type message here" name="message" required />
			<br />
			
			<button type="submmit">Print</button>
		</form>
	</body>
</html>
{{end}}

{{define "result"}}
<!DOCTYPE html>
<html>
	<head>
		<title>Show Message</title>
	</head>
	<body>
		<h1>Hello {{.name}}</h1>
		<p>{{.message}}</p>
	</body>
</html>
{{end}}